body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#base {
  width: 100vw;
  height: 100vh;
}
#base .chapter {
  display: none;
  width: 100%;
  height: 100%;
}
#base .chapter .w {
  display: none;
  font-size: 40px;
}
#base .chapter .l1 .w1 {
  display: inline-block;
}
#base #c1 {
  display: block;
}
#base #c1 .l1 .w1 {
  display: block;
  text-align: center;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  vertical-align: middle;
  font-size: 40px;
}
#base #c1 .l1 .u1,
#base #c1 .l1 .u2 {
  position: absolute;
  display: block;
}
#base #c1 .l1 .u1 .w,
#base #c1 .l1 .u2 .w {
  line-height: 1.2em;
  font-size: 85px;
}
#base #c1 .l1 .u1 .w2,
#base #c1 .l1 .u2 .w2,
#base #c1 .l1 .u1 .w3,
#base #c1 .l1 .u2 .w3,
#base #c1 .l1 .u1 .w4,
#base #c1 .l1 .u2 .w4,
#base #c1 .l1 .u1 .w5,
#base #c1 .l1 .u2 .w5 {
  display: block;
}
#base #c1 .l1 .u1 {
  display: none;
  top: 100vh;
  width: 100vw;
  height: 100vh;
}
#base #c1 .l1 .u2 {
  display: none;
  top: 100vh;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 750px) {
  #base #c1 .l1 .u1 {
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #base #c1 .l1 .u1 .w {
    text-align: left;
    width: 100%;
  }
}
@media (min-width: 850px) {
  #base #c1 .l1 .u1 .w2,
  #base #c1 .l1 .u1 .w3,
  #base #c1 .l1 .u1 .w4 {
    opacity: 1;
    padding-top: 0;
  }
}
@media (min-width: 1250px) {
  #base #c1 .l1 .u1 {
    display: none!important;
  }
  #base #c1 .l1 .u1 .w2,
  #base #c1 .l1 .u1 .w3,
  #base #c1 .l1 .u1 .w4 {
    padding-top: 0;
    opacity: 0;
  }
  #base #c1 .l1 .u2 {
    display: block;
    width: 100%;
    padding: 40px;
  }
  #base #c1 .l1 .u2 .w2,
  #base #c1 .l1 .u2 .w3,
  #base #c1 .l1 .u2 .w4,
  #base #c1 .l1 .u2 .w5 {
    font-weight: bold;
    font-size: 200px!important;
    opacity: 1;
    padding-top: 0;
  }
}
#base #c2 .l1 {
  padding: 20px;
  font-size: 160px;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#base #c2 .l1 .w {
  display: block;
  text-align: left;
  width: 100%;
}
