body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#base {
  width: 100vw;
  height: 100vh;
  .chapter {
    display: none;
    width: 100%;
    height: 100%;
    .w {
      display: none;
      font-size: 40px;
    }
    .l1 .w1 {
      display: inline-block;
    }
  }

  #c1 {
    .l1 {
      .w1 {
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        line-height: 100vh;
        vertical-align: middle;
        font-size: 40px;
      }
      .u1, .u2 {
        position: absolute;
        display: block;
        .w {
          line-height: 1.2em;
          font-size: 85px;
        }
        .w2, .w3, .w4, .w5 {
          display: block;
        }
      }
      .u1 {
        display: none;
        top: 100vh;
        width: 100vw;
        height: 100vh;

      }
      .u2 {
        display: none;
        top: 100vh;
        width: 100vw;
        height: 100vh;
      }
    }

    @media (min-width: 750px) {
      .l1 {
        .u1 {
          right: 0;
          width: 100%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          .w {
            text-align: left;
            width: 100%;
          }
        }
      }
    }

    @media (min-width: 850px) {
      .l1 .u1 {
        .w2, .w3, .w4 {
          opacity: 1;
          padding-top: 0;
        }
      }
    }

    @media (min-width: 1250px) {
      .l1 .w1 {
        // display: none!important;
      }
      .l1 .u1 {
        display: none!important;
        .w2, .w3, .w4 {
          padding-top: 0;
          opacity: 0;
        }
      }
      .l1 .u2 {
        display: block;
        width: 100%;
        padding: 40px;
        .w2, .w3, .w4, .w5 {
          font-weight: bold;
          font-size: 200px!important;
          opacity: 1;
          padding-top: 0;
        }
      }
    }
  }

  #c2 {
    .l1 {
      padding: 20px;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: baseline;
      justify-content: center;
      .w {
        display: none;
        text-align: left;
        width: 100%;
      }
      .w1 {
        display: block;
        font-size: 180px;
      }
      .w2, .w3, .w4, .w5 {
        font-size: 65px;
      }

      @media (min-width: 600px) {
        .w2 {
          display: block !important;
        }
      }

      @media (min-width: 750px) {
        .w3 {
          display: block !important;
        }
      }

      @media (min-width: 900px) {
        .w4 {
          display: block !important;
        }
      }

      @media (min-width: 1050px) {
        .w5 {
          display: block !important;
        }
      }
    }

    @media (min-height: 300px) {
      .l1 {
        display: none;
      }
      .l2 {
        right: 0;
        width: 100%;
        height: 100vh;
        display: block;
        justify-content: center;
        .w1 {
          visbility: visible !important;
        }
        .w2, .w3, .w4 {
          visibility: hidden !important;
        }
        .w {
          display: block;
          text-align: left;
          width: 100%;
          font-size: 190px;
          padding-left: 20px;
        }
      }
    }

    @media (min-height: 450px) {
      .l2 {
        .w2 {
          visibility: visible !important;
        }
        .w1, .w3, .w4 {
          visibility: hidden !important;
        }
      }
    }

    @media (min-height: 600px) {
      .l2 {
        .w3 {
          visibility: visible !important;
        }
        .w1, .w2, .w4 {
          visibility: hidden !important;
        }
      }
    }

    @media (min-height: 750px) {
      .l2 {
        .w4 {
          visibility: visible !important;
        }
        .w1, .w2, .w3 {
          visibility: hidden !important;
        }
      }
    }

    @media (min-height: 830px) {
      .l2 {
        .w1, .w2, .w3, .w4 {
          visibility: visible !important;
        }
      }
    }
  }


}
